{% extends 'layouts/base.html' %} {% block content %}
<form  method="POST">
	{% csrf_token %}
<div class="card">
    <div class="card-body">
      <form method="post">
        {% include 'partials/_messages.html'%} {% csrf_token %}
        <h3>ADD SOURCE</h3>
        <div class="form-group">

          <label for="">Source Name</label><br>
          <input
            type="text"
            class="form-control form-control-sm"
            name="Source_name"

          />
        </div>
          <input
          type="submit"
          value="Submit"
          class="btn btn-primary btn-primary-sm"
          /></form>
{% endblock %}