{% extends 'layouts/base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Income</title>
    <h3>Search Income</h3><br>
</head>
<body>
<form action="{% url 'show_results' %}" method="post">
    {% csrf_token %}
    from:<input type="date" name="start_date">
    To:<input type="date" name="end_date">
    <input type="submit" value="submit">

    <hr/>
    <table class="table table-stripped table-hover">
        <tr>

            <th>Amount</th>
            <th>date</th>
            <th>Description</th>
            <th>Source</th>

        </tr>
        {% for income in page_obj%}
      <tr>
        <td>{{income.amount}}</td>
        <td>{{income.date}}</td>
        <td>{{income.description}}</td>
        <td>{{income.source}}</td>


        </tr>
        {% endfor %}
    </table>
 <div class="pagination-container">
    <div class="">
      Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
    </div>



</form>

</body>
</html>
{% endblock %}